*{
    margin: 0%;
    padding: 0%;
}
body{
    font-family: 'Merriweather', serif;
    background-color: #f9fafc;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgb(202, 198, 198) ;
}
.nav-brand {
    width: 150px;
}
.nav-logo {
    width:100%;
}
.global-button {
   background-image: linear-gradient(to right,#ff512f 0%,#dd2476 51%,#ff512f 100%);
   color: #fff;
   border: 1px solid #ff512f;
   padding: 6px;
   border-radius: 4px;
   }
.global-button:hover {
    border: 1.5px solid #ff512f;
    cursor: pointer;
}
.container {
    max-width: 100%;
    padding: 20px 15px;
    margin: 0 auto;
}   
.hero-img-section {
    width: 100%;
    
}
.hero-img {
    width: 100%;
    border-radius:8px ;
}

.hero-text {
    font-size: 28px;
    margin-top: 10px;
    margin-bottom: 10px;
}
@media (min-width:768px) {
    .nav-brand {
        width: 200px;
    }
    .global-button {
        padding: 12px 20px;
        font-size: 17px;
        font-weight: 500;
    }
    .hero-section {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        padding: 15px 0px;
    }
}
@media (min-width : 1024px) {
    .container {
        max-width: 1000px;
    }
    .nav-brand {
        width: 150px;
    }
    .navbar {
        justify-content: space-between;
        padding: 0px 30px;
    }
    .global-button {
        padding: 10px 15px;
        font-size: 17px;
        font-weight: 500;
    }
    .hero-text-section {
        width: 100%;
    }
    .hero-button {
        margin-top:20px ;
    }
    .hero-text {
        font-size: 40px;
        font-weight:900;
    }
    
}   